github "mkko/MapGrid"
github "ReactiveX/RxSwift" ~> 3.0
git "file:///Users/mval/Development/Personal/RxMKMapView" "feature/annotation-binding"
# github "mkko/RxMKMapView" "feature/annotation-binding"
